.dark-medium-contrast {
  --md-sys-color-primary: rgb(154 232 253);
  --md-sys-color-surface-tint: rgb(132 210 231);
  --md-sys-color-on-primary: rgb(0 42 51);
  --md-sys-color-primary-container: rgb(76 155 175);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(200 225 232);
  --md-sys-color-on-secondary: rgb(17 41 47);
  --md-sys-color-secondary-container: rgb(125 149 156);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(213 218 255);
  --md-sys-color-on-tertiary: rgb(29 36 66);
  --md-sys-color-tertiary-container: rgb(137 143 179);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 22);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 75);
  --md-sys-color-on-surface-variant: rgb(213 222 225);
  --md-sys-color-outline: rgb(170 179 182);
  --md-sys-color-outline-variant: rgb(137 146 149);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(37 43 45);
  --md-sys-color-inverse-primary: rgb(0 79 94);
  --md-sys-color-primary-fixed: rgb(171 237 255);
  --md-sys-color-on-primary-fixed: rgb(0 20 25);
  --md-sys-color-primary-fixed-dim: rgb(132 210 231);
  --md-sys-color-on-primary-fixed-variant: rgb(0 60 71);
  --md-sys-color-secondary-fixed: rgb(206 231 239);
  --md-sys-color-on-secondary-fixed: rgb(0 20 25);
  --md-sys-color-secondary-fixed-dim: rgb(178 203 210);
  --md-sys-color-on-secondary-fixed-variant: rgb(35 58 64);
  --md-sys-color-tertiary-fixed: rgb(221 225 255);
  --md-sys-color-on-tertiary-fixed: rgb(8 15 44);
  --md-sys-color-tertiary-fixed-dim: rgb(191 196 235);
  --md-sys-color-on-tertiary-fixed-variant: rgb(46 52 83);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(64 69 71);
  --md-sys-color-surface-container-lowest: rgb(4 8 10);
  --md-sys-color-surface-container-low: rgb(25 30 32);
  --md-sys-color-surface-container: rgb(35 41 43);
  --md-sys-color-surface-container-high: rgb(46 51 53);
  --md-sys-color-surface-container-highest: rgb(57 63 64);
}
