.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  
  @keyframes fadeIn { to { opacity: 1; } }
  
  .modalContent {
    box-sizing: border-box;
    position: relative;
    width: 800px;
    height: 500px;
    max-width: 800px;
    max-height: 500px;
    background: rgba(0, 0, 0, 0.66);
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(3.5px);
    border-radius: 33px;
    color: var(--text-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    transform: scale(0.95) translateY(10px);
    opacity: 0;
    animation: scaleUpFadeIn 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s forwards;
  }
  @keyframes scaleUpFadeIn {
    to { transform: scale(1) translateY(0); opacity: 1; }
  }

.modalHeader {
  display: flex; 
  align-items: center;
  padding: 28px 36px 0 36px;
  min-height: 75px;
  flex-shrink: 0; 
  position: relative; 
}
  
  .closeButton {
    position: absolute;
    display: flex; 
    flex-direction: row; 
    justify-content: center;   
    align-items: center;   
    padding: 8px;   
    gap: 10px; 
  
    position: absolute;   
    width: 32px;
    height: 32px;   
    right: 36px;
    top: 36px;
  
  
    border: 1px solid #FFFFFF;   
    border-radius: 16px;   
    background: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, transform 0.1s;
  }
  .closeButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .closeButton:active {
      transform: scale(0.9);
  }
  
  .closeButton svg {
    width: 16px;   
    height: 16px;   
    display: block;
    stroke: currentColor;
    stroke-width: 2;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .modalTitle {
    left: 36px;
    top: 28px;
    width: auto; 
    height: 47px;   
  
    /* Headline 2 */
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-weight: 300;   
    font-size: 40px;   
    line-height: 47px;   
    display: flex;   
    align-items: center;   
    color: #FFFFFF;   
    margin: 0;              
    padding: 0;
  }
  

.modalBody {
    flex-grow: 1; 
    overflow: hidden;
    position: relative; 
    width: 100%;
    padding: 20px 36px 30px 36px; 
}
  

  .headerLine {
    border: none;
    border-top: 2px solid #FFFFFF;
    width: calc(100% - 72px); 
    margin: 22px auto 0 auto;
    flex-shrink: 0;
  }